$blue: #080C17;
$blue-dark: #05080F;
$blue-light: #1B284B;
$blue-thin: #25376A;

$cyan: #58BBD6;
$cyan-dark: #3AAFCF;
$cyan-light: #A2D3E0;
$cyan-thin: #CEEBF3;

$yellow: #FEEF00;
$yellow-thin: #FFFAAD;
$yellow-dark: #E0D100;
$yellow-light: #FFF570;

$gray-1: #B5B6B8;
$gray-2: #A1A3A5;
$gray-3: #959698;

$clay-1: #657CA4;
$clay-2: #4B5F81;
$clay-3: #222B3A;
$clay-4: #171C27;