@include mobile-610() {
    .container {
        .container-item-1 {
            .person {
                margin: 0 auto;
            }
        }
        .container-item-2 {
            .description {
                text-align: center;
            }
            .buttons {
                margin: 20px auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .teaser {
                    margin-top: 20px;
                }
            }

            .bottom-icons {
                display: none;
            }
        }
    }
}

.bg-video {
    background-size: cover;
}
