// CONTAINER
@include responsive() {
    .container {
        flex-direction: column;
        height: auto;
        overflow: hidden;
    }

    .container-item-1 {
        order: 2;
        transform: translate3d(0, -120px, 0);

        .person {
            height: auto;
            width: 60%;
        }
    }

    .container-item-2 {
        width: 100%;
        order: 1;
    }

    .nav-list {
        display: none;
    }

    .nav-social {
        display: none;
    }
}
